body {
    background-color: rgb(8, 8, 8);
}


.img-container {
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
}

#img16 {
    width: 100px;
    height: 50px;
    left: 20px;
    top: 5px;
}

#img17 {
    width: 100px;
    height: 50px;
    left: 122px;
    top: 5px;
}

#img18 {
    width: 100px;
    height: 50px;
    left: 220px;
    top: 5px;
}

#img19 {
    width: 100px;
    height: 50px;
    left: 325px;
    top: 5px;
}

#img20 {
    width: 100px;
    height: 50px;
    left: 435px;
    top: 5px;
}

#img21 {
    width: 600px;
    height: 600px;
    left: 30px;
    top: 150px;
}

#img22 {
    width: 1000px;
    height: 574px;
    left: 650px;
    top: 150px;
}

#img24 {
    width: 500px;
    height: 300px;
    left: 900px;
    top: 755px;
}

#img6 {
    width: 10px;
    height: 10px;
    left: 820px;
    top: 10000px;
}

#img25 {
    width: 800px;
    height: 600px;
    left: 50px;
    top: 900px;
}

#img26 {
    width: 500px;
    height: 650px;
    left: 1150px;
    top: 1150px;
}

#img27 {
    width: 200px;
    height: 70px;
    left: 1150px;
    top: 1800px;
}

#img28 {
    width: 500px;
    height: 650px;
    left: 200px;
    top: 1600px;
}

#img29 {
    width: 800px;
    height: 500px;
    left: 850px;
    top: 2000px;
}